<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Mentor Finder</title>
    <link rel="stylesheet"type="text/css" th:href="@{/bootstrap/adminview/css/bootstrap.min.css}">
    <link rel="stylesheet"type="text/css" th:href="@{https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic}">
    <link rel="stylesheet"type="text/css" th:href="@{/font/adminview/fontawesome-all.min.css}">
    <link rel="stylesheet"type="text/css" th:href="@{/font/adminview/font-awesome.min.css}">
    <link rel="stylesheet"type="text/css" th:href="@{/font/adminview/simple-line-icons.min.css}">
    <link rel="stylesheet"type="text/css" th:href="@{/font/adminview/typicons.min.css}">
    <link rel="stylesheet"type="text/css" th:href="@{/font/adminview/fontawesome5-overrides.min.css}">
    <link rel="stylesheet"type="text/css" th:href="@{/css/adminview/Animated-CSS-Waves-Background-SVG.css}">
    <link rel="stylesheet"type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css}">
    <link rel="stylesheet"type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css}">
</head>

<body id="page-top">
                <br/><br/><br/>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Manage Request</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <a class="text-primary m-0 font-weight-bold" href="newRequest">Create request</a>
                        </div>
                        <div class="card-body">
                           
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>From</th>
                                            <th>Subject</th>
                                            <th>Level</th>
                                            <th>Title</th>
                                            <th>Describe</th>
                                            <th>Available</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="request : ${requests}">
                                            <td th:text="${request.getReqId()}"></td>
                                            <td th:text="${request.getMenteeIdFrom().uName}"></td>
                                            <td th:text="${request.getSubId().subName}"></td>
                                            <td th:text="${request.getLevId().levName}"></td>
                                            <td th:text="${request.reqTitle}"></td>
                                            <td th:text="${request.reqDesc}"></td>
                                            <td th:text="${request.getReqAvaiTime()}"></td>
                                            <td style="display: inline-flex">
                                                <a class="btn btn-primary" data-bss-hover-animate="pulse" type="button" style="background: var(--red);border-color: var(--pink);width: 110.7344px;margin-right: 37px;" th:href="@{'/deleteRequest?id='+ ${request.getReqId()}}" onclick= "return confirm('Do you want to delete?');">Delete</a> 
                                                <a class="btn btn-primary" data-bss-hover-animate="pulse" type="button" style="background: var(--teal);border-color: var(--teal);width: 110.6719px;" th:href="@{'/updateRequest?id='+ ${request.getReqId()}}">Update</a>
                                            </td>
                                        </tr>                                       
                                    </tbody>
                                    
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                   
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Mentor Finder 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="js/adminview/jquery.min.js"></script>
    <script src="bootstrap/adminview/js/bootstrap.min.js"></script>
    <script src="js/adminview/chart.min.js"></script>
    <script src="js/adminview/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="js/adminview/theme.js"></script>
</body>

</html>