<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Chat2</title>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css}"><!--
-->    <link rel="stylesheet" type="text/css" th:href="@{https://use.fontawesome.com/releases/v5.12.0/css/all.css}"><!--
    -->    <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"><!--
-->    <link rel="stylesheet" type="text/css" th:href="@{/font/chat/fontawesome5-overrides.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat/Bootstrap-Chat.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat/styles.css}" />
     
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="border-bottom: solid 1px;">
        <div class="container"><a class="navbar-brand" href="#">Mentor Finder</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="margin-right: 20px;"><a class="nav-link active" href="#" style="cursor: pointer;"><i class="fas fa-home" style="font-size: 45px;color: purple;"></i></a></li>
                    <li class="nav-item" style="margin-right: 20px;"><a class="nav-link" href="#"><i class="far fa-comment" style="font-size: 45px;color: purple;"></i><span class="badge badge-primary" style="padding: 2px 3.8px;margin-left: -12px;"></span></a></li>
                    <li class="nav-item" style="padding: 8px;">
                        <div class="nav-item dropdown"><a class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#"><i class="far fa-bell" style="font-size: 45px;color: purple;"></i><span class="badge badge-primary" style="padding: 2px 3.8px;margin-left: -12px;"></span></a>
                            <div class="dropdown-menu dropdown-menu-right" style="box-shadow: 4px 4px 0px var(--gray);">
                                <h1 class="dropdown-header">Notification</h1>
                                
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item" style="text-align: center;"><a href="#" style="color: var(--pink);"></a></div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#" style="margin-left: 19px;"><i class="far fa-user" style="font-size: 45px;color: purple;"></i></a></li>
                </ul>
            </div>
        </div>
    </nav><div class="bootstrap_chat">
<div class="container py-5 px-4">
  <!-- For demo purpose-->
  <div class="row rounded-lg overflow-hidden shadow">
    <!-- Users box-->
    <div class="col-5 px-0">
      <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">Recent</p>
        </div>

        
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-7 px-0">
      <div class="px-4 py-5 chat-box bg-white">
        <!-- Sender Message-->
       
              <p class="text-small mb-0 text-muted">You don't have any message</p>
        

    </div>
  </div>
</div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:inline="javascript">
        'use strict';
        
    </script>
</body>

</html>