 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
   
    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/HomeMentee/common.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/HomeMentee/fonts.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/HomeMentee/HomeMentee.css}" />

        <script src="js/posize/v1.00.js"></script>
    </head>

    <body>
        <div class="home-mentee-flexbox home-mentee-flexbox-posize">
            <div class="home-mentee-flexbox-item">
                <!-- section1 start -->
                <nav class="home-mentee-section1-navbar home-mentee-section1-navbar-posize">
                    <div class="home-mentee-section1-flexbox home-mentee-section1-flexbox-posize">
                        <div style="--src:url(/image/HomeMentee/6faeb821d6d357329ed704169786b5d2.png)" class="home-mentee-section1-icon home-mentee-section1-icon-posize"></div>
                        <div class="home-mentee-section1-flexbox-space"></div>
                        <div style="--src:url(/image/HomeMentee/85c4928346d71ccc4e9d83305504fa09.png)" class="home-mentee-section1-icon home-mentee-section1-icon-posize1"></div>
                        <div class="home-mentee-section1-flexbox-space1"></div>
                        <div class="home-mentee-section1-flexbox-item">
                            <div class="home-mentee-section1-group home-mentee-section1-group-posize">
                                <div style="--src:url(/image/HomeMentee/cfb324c288de3919e0afb030a6388100.png)" class="home-mentee-section1-icon home-mentee-section1-icon-posize2"></div>
                                <div style="--src:url(/image/HomeMentee/b7a33358a857e527ec49dcb3d40a7266.png)" class="home-mentee-section1-icon home-mentee-section1-icon-posize3"></div>
                            </div>
                        </div>
                        <div class="home-mentee-section1-flexbox-space2"></div>
                        <div style="--src:url(/image/HomeMentee/582977b2adab96979987b21bc7a42adc.png)" class="home-mentee-section1-icon home-mentee-section1-icon-posize4"></div>
                    </div>
                </nav>
                <!-- section1 end -->
            </div>
            <div class="home-mentee-flexbox-item1">
                <!-- section2 start -->
                <section class="home-mentee-section2-avatar home-mentee-section2-avatar-posize">
                    <div class="home-mentee-section2-flexbox home-mentee-section2-flexbox-posize1">
                        <div class="home-mentee-section2-flexbox-item">
                            <div class="home-mentee-section2-flexbox1 home-mentee-section2-flexbox1-posize">
                                <div class="home-mentee-section2-flexbox1-item">
                                    <div class="home-mentee-section2-rect home-mentee-section2-rect-posize"></div>
                                </div>
                                <div class="home-mentee-section2-flexbox1-space"></div>
                                <div class="home-mentee-section2-flexbox1-item1">
                                    <div class="home-mentee-section2-flexbox home-mentee-section2-flexbox-posize">
                                        <div class="home-mentee-section2-flexbox2-item">
                                            <div class="home-mentee-section2-txt home-mentee-section2-txt-posize">Welcome back, User !</div>
                                        </div>
                                        <div class="home-mentee-section2-flexbox2-space"></div>
                                        <div class="home-mentee-section2-flexbox2-item">
                                            <div class="home-mentee-section2-txt1 home-mentee-section2-txt1-posize">
                                                You have 5+ pending Request
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="home-mentee-section2-line home-mentee-section2-line-posize" />
                    </div>
                    <div style="--src:url(/image/HomeMentee/ee9cdbfe31aa30f601ae046e5f8d5dcb.png)" class="home-mentee-section2-img home-mentee-section2-img-posize"></div>
                </section>
                <!-- section2 end -->
            </div>
            <div class="home-mentee-flexbox-item2">
                <!-- section3 start -->
                <section class="home-mentee-section3-mainComponent home-mentee-section3-mainComponent-posize">
                    <div class="home-mentee-section3-flexbox home-mentee-section3-flexbox-posize1">
                        <div class="home-mentee-section3-flexbox-item">
                            <div class="home-mentee-section3-coverGroup home-mentee-section3-coverGroup-posize2">
                                <div class="home-mentee-section3-background home-mentee-section3-background-posize"></div>
                                <div class="home-mentee-section3-list home-mentee-section3-list-posize">
                                    <div class="home-mentee-section3-list-item">
                                        <div class="home-mentee-section3-yourRequest home-mentee-section3-yourRequest-posize">
                                            <div class="home-mentee-section3-yourRequest-space"></div>
                                            <div class="home-mentee-section3-yourRequest-item">
                                                <div class="home-mentee-section3-txt home-mentee-section3-txt-posize">Your Request</div>
                                            </div>
                                            <div class="home-mentee-section3-yourRequest-space1"></div>
                                            <div style="--src:url(/image/HomeMentee/acdd0d6b269079c580c60cfd80d1c9f6.png)" class="home-mentee-section3-icon home-mentee-section3-icon-posize"></div>
                                            <div class="home-mentee-section3-yourRequest-space2"></div>
                                            <div style="--src:url(/image/HomeMentee/40fc511ff9fb927d4aec0ce714942ef2.png)" class="home-mentee-section3-icon home-mentee-section3-icon-posize1"></div>
                                            <div class="home-mentee-section3-yourRequest-space3"></div>
                                        </div>
                                    </div>
                                    <!-- start the list component-->
                                    <div class="home-mentee-section3-list-item1">
                                        <div class="home-mentee-section3-requestTag home-mentee-section3-requestTag-posize">
                                            <div class="home-mentee-section3-flexbox home-mentee-section3-flexbox-posize">
                                                <div class="home-mentee-section3-flexbox1-item">
                                                    <div class="home-mentee-section3-flexbox2 home-mentee-section3-flexbox2-posize">
                                                        <div class="home-mentee-section3-rect home-mentee-section3-rect-posize"></div>
                                                        <div class="home-mentee-section3-flexbox2-space"></div>
                                                        <div class="home-mentee-section3-flexbox2-item">
                                                            <div class="home-mentee-section3-coverGroup1 home-mentee-section3-coverGroup1-posize">
                                                                <div class="home-mentee-section3-txt1 home-mentee-section3-txt1-posize">Pending</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="home-mentee-section3-flexbox1-space"></div>
                                                <div class="home-mentee-section3-flexbox1-item1">
                                                    <div class="text">The leather jacked showed the scars of being his favorite for years. It wore those scars with pride, feeling that they enhanced his presence rather than diminishing it. The scars gave it character and had
                                                        not overwhelmed to the point that it had become ratty. The jacket was in its prime and it knew it.</div>
                                                </div>
                                            </div>
                                            <div style="--src:url(/image/HomeMentee/21108c00a801bb0294ff7f4d01a829db.png)" class="home-mentee-section3-icon home-mentee-section3-icon-posize2"></div>
                                            <div class="home-mentee-section3-coverGroup2 home-mentee-section3-coverGroup2-posize">
                                                <div class="home-mentee-section3-txt2 home-mentee-section3-txt2-posize">View Enroll</div>
                                            </div>
                                            <div class="home-mentee-section3-txt3 home-mentee-section3-txt3-posize">
                                                “ ” Mentors enrolled your request
                                            </div>

                                            <px-posize x="784fr 29px 22fr" y="196px 29px 26px" absolute="true">
                                                <button type="button" class="home-mentee-section3-icon3" style="--src:url(/assets/3c669d21758fbbf6d8fbf6d23b6096cf.png)"></button>
                                            </px-posize>

                                            <div style="--src:url(/image/HomeMentee/9863693ada4f62d563804ebe39802f22.png)" class="home-mentee-section3-icon home-mentee-section3-icon-posize3"></div>
                                            <div class="home-mentee-section3-txt4 home-mentee-section3-txt4-posize">Highschool</div>
                                            <div style="--src:url(/image/HomeMentee/fe5ea6ba79190a7ec79dade11d7fa7ee.png)" class="home-mentee-section3-icon home-mentee-section3-icon-posize4"></div>
                                            <div class="home-mentee-section3-txt5 home-mentee-section3-txt5-posize">Mon - Tue</div>
                                        </div>
                                    </div>
                                    <!-- end the list component-->
                                    <div class="home-mentee-section3-list-item2">
                                        <div class="home-mentee-section3-pageControl home-mentee-section3-pageControl-posize">
                                            <div class="home-mentee-section3-pageControl-item">
                                                <div class="home-mentee-section3-txt6 home-mentee-section3-txt6-posize">Page 1 from 2</div>
                                            </div>
                                            <div class="home-mentee-section3-pageControl-space"></div>
                                            <div class="home-mentee-section3-pageControl-item1">
                                                <div class="home-mentee-section3-coverGroup home-mentee-section3-coverGroup-posize">
                                                    <div class="home-mentee-section3-background1 home-mentee-section3-background1-posize"></div>
                                                    <div class="home-mentee-section3-txt7 home-mentee-section3-txt7-posize">Previous Page</div>
                                                </div>
                                            </div>
                                            <div class="home-mentee-section3-pageControl-space1"></div>
                                            <div class="home-mentee-section3-pageControl-item2">
                                                <div class="home-mentee-section3-coverGroup home-mentee-section3-coverGroup-posize1">
                                                    <div class="home-mentee-section3-background2 home-mentee-section3-background2-posize"></div>
                                                    <div class="home-mentee-section3-txt8 home-mentee-section3-txt8-posize">Next Page</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="home-mentee-section3-flexbox-space"></div>
                        <div class="home-mentee-section3-flexbox-item1">
                            <div class="home-mentee-section3-coverGroup5 home-mentee-section3-coverGroup5-posize">
                                <div class="home-mentee-section3-button home-mentee-section3-button-posize">
                                    <div class="home-mentee-section3-background3 home-mentee-section3-background3-posize"></div>
                                    <div class="home-mentee-section3-foreground home-mentee-section3-foreground-posize">
                                        <div style="--src:url(/image/HomeMentee/b44635506e4702903d18b1bdfdd18cd1.png)" class="home-mentee-section3-icon home-mentee-section3-icon-posize5"></div>
                                        <div class="home-mentee-section3-foreground-space"></div>
                                        <div class="home-mentee-section3-foreground-item">
                                            <div class="home-mentee-section3-txt9 home-mentee-section3-txt9-posize">New Request</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section3 end -->
            </div>
            <div class="home-mentee-flexbox-space"></div>
        </div>
    </body>
</html>
