
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Mentor Finder</title>
    <link rel="stylesheet"type="text/css" th:href="@{/bootstrap/landingpage/css/bootstrap.min.css}">
    <link rel="stylesheet"type="text/css" th:href="@{https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic}">
    <link rel="stylesheet"type="text/css" th:href="@{/font/landingpage/fontawesome-all.min.css}">
    <link rel="stylesheet"type="text/css" th:href="@{/font/landingpage/font-awesome.min.css}">
    <link rel="stylesheet"type="text/css" th:href="@{/font/landingpage/simple-line-icons.min.css}">
    <link rel="stylesheet"type="text/css" th:href="@{/font/landingpage/typicons.min.css}">
    <link rel="stylesheet"type="text/css" th:href="@{/font/landingpage/fontawesome5-overrides.min.css}">
    <link rel="stylesheet"type="text/css" th:href="@{/css/landingpage/Animated-CSS-Waves-Background-SVG.css}">
    <link rel="stylesheet"type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css}">
    <link rel="stylesheet"type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">Mentor Finder</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-primary ml-auto" role="button" href="#" style="margin-right: 40px;width: 100px;background-color: pink;">Sign Up</a></div><a class="btn btn-primary ml-auto" role="button" href="#" style="width: 100px;background-color: purple;">Sign In</a>
        </div>
    </nav>
    <header class="text-center text-white masthead" style="background:url('/image/landingpage/head.png')no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5" style="font-style: italic;color: #FF79CD;">WE ARE BETTER TOGETHER!</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-3 offset-xl-4"><button class="btn btn-primary btn-block btn-lg" type="submit" style="background-color: purple;">Sign up!</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center bg-light features-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="far fa-clock m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                        <h3>Save Your Time</h3>
                        <p class="lead mb-0">No Worry about time to Find Your Mentor</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="typcn typcn-contacts m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                        <h3>Quick Contact and Communication</h3>
                        <p class="lead mb-0">1 click contact to you desired Mentor</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-star m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                        <h3>Certified Mentor from your Country</h3>
                        <p class="lead mb-0">If your mentor is not like what you want, you can feedback so we can improve our mentor system</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image:url(&quot;/image/landingpage/post.png&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2 data-aos="fade" data-aos-duration="700">Post your Request&nbsp;</h2>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image:url(&quot;/image/landingpage/contact.png&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2 data-aos="fade" data-aos-duration="700">Contact with Your Mentor</h2>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image:url(&quot;/image/landingpage/Work%20together.png&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2 data-aos="fade" data-aos-duration="700">Work Together and Achieve new Knowledge</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center bg-light testimonials">
        <div class="container">
            <h2 class="mb-5">What people are saying...</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" data-aos="fade-up" src="/image/landingpage/hahe.png">
                        <h5>Conqueror</h5>
                        <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" data-aos="fade-up" src="/image/landingpage/hanhhe.png">
                        <h5>Hanh Clown 1</h5>
                        <p class="font-weight-light mb-0">" Thank Mentor Finder for helping me score high grade in school!"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" data-aos="fade-up" src="/image/landingpage/hanhhe2.png">
                        <h5>Hanh Clown 2</h5>
                        <p class="font-weight-light mb-0">"This Web is like Tinder but for Mentor!"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Contact</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Terms of &nbsp;Use</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© Mentor Finder 2021. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-center text-lg-right my-auto h-100">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/landingpage/jquery.min.js"></script>
    <script src="/bootstrap/landingpage/js/bootstrap.min.js"></script>
    <script src="/js/landingpage/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>