<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/image/favicon/favicon-16x16.png}">
    <title>Mentor Finder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/font/listenroll/fontawesome5-overrides.min.css}">
    <link rel="stylesheet" th:href="@{/css/listenroll/Add-Another-Button.css}">
    <link rel="stylesheet" th:href="@{/css/listenroll/Card-Group1-Shadow.css}">
    <link rel="stylesheet" th:href="@{/css/listenroll/checkbox.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" th:href="@{/css/profilementee/Off-Canvas-Sidebar-Drawer-Navbar.css}">
    <link rel="stylesheet" th:href="@{/css/listenroll/Navigation-Clean.css}">
    <link rel="stylesheet" th:href="@{/css/listenroll/Search-Field-With-Icon.css}">
    <link rel="stylesheet" th:href="@{/css/listenroll/Separator-with-icon.css}">
    <link rel="stylesheet" th:href="@{/css/listenroll/styles.css}">
</head>

<body style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 121, 205, 0.46) 35.94%, #23049D 100%);">
    <nav class="navbar navbar-dark fixed-top bg-dark off-canvas" data-right-drawer="0" data-open-drawer="0">
        <div class="container-fluid flex-column"><button class="btn btn-dark drawer-knob" type="button" data-open="drawer"><i class="fas fa-bars"></i></button>
            <div class="d-flex justify-content-between brand-line"><a class="navbar-brand" href="#">Mentor Finder</a><button class="btn btn-dark" type="button" data-dismiss="drawer"><span class="sr-only">Toggle Navigation&nbsp;</span><i class="fas fa-times"></i></button></div>
            <ul class="navbar-nav flex-column drawer-menu">
                <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" th:href="@{/home}">Home</a></li>
                <li class="nav-item"><a class="nav-link active" data-bss-hover-animate="pulse" th:href="@{/mentor/enrolled/list}">Enrolled List</a></li>
                <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="#">Message<span class="badge badge-primary" style="margin-left: 5px;">42</span></a></li>
                <li class="nav-item">
                    <div class="nav-item dropdown dropright"><a id="noti-dropdown" class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#" data-display="static" style="text-decoration: none;color: rgb(169,168,168);">Notification<span class="badge badge-primary" id="noti-unread"></span></a>
                        <div class="dropdown-menu dropdown-menu-right" style="box-shadow: 4px 4px 0px var(--gray);z-index: 1;position: absolute;max-height: 300px;min-height: 100px;  margin-top: -120px">
                            <h1 class="dropdown-header">Notification</h1>
                            <div style="overflow-y: auto;max-height: 200px; height:70" id="noti-item">

                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item" style="text-align: center;"><a href="#" style="color: var(--pink);">View All Notifications</a></div>
                        </div>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" th:href="@{/profile}">Profile</a></li>
            </ul>
            <ul class="navbar-nav flex-column bottom-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/profile/update/detail}">Account Setting</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Log Out</a></li>
            </ul>
        </div>
    </nav>
    <!--
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="border-bottom: solid 1px;">
        <div class="container"><a class="navbar-brand" href="#">Mentor Finder</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="margin-right: 20px;"><a class="nav-link" th:href="@{/home}" style="cursor: pointer;"><i class="fas fa-home" style="font-size: 45px;color: purple;"></i></a></li>
                    <li class="nav-item" style="margin-right: 20px;"><a class="nav-link" href="#"><i class="far fa-comment" style="font-size: 45px;color: purple;"></i><span class="badge badge-primary" style="padding: 2px 3.8px;margin-left: -12px;">42</span></a></li>
                    <li class="nav-item" style="padding: 8px;">
                        <div class="nav-item dropdown"><a class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#"><i class="far fa-bell" style="font-size: 45px;color: purple;"></i><span class="badge badge-primary" style="padding: 2px 3.8px;margin-left: -12px;">42</span></a>
                            <div class="dropdown-menu dropdown-menu-right" style="box-shadow: 4px 4px 0px var(--gray);">
                                <h1 class="dropdown-header">Notification</h1><a class="dropdown-item" href="#">
                                    <div class="notify_icon"><i class="far fa-plus-square" style="font-size: 22px;color: var(--pink);margin-right: 11px;"></i></div>
                                    <div class="notify_item">
                                        <p style="margin-bottom: 7px;">Request ID :&nbsp;<span style="color: var(--yellow);"><strong>10218</strong></span>&nbsp;has new Mentor enroll, go check it out.</p>
                                    </div>
                                </a><a class="dropdown-item" href="#">
                                    <div class="notify_icon"><i class="far fa-plus-square" style="font-size: 22px;color: var(--pink);margin-right: 11px;"></i></div>
                                    <div class="notify_item">
                                        <p style="margin-bottom: 7px;">Request ID :&nbsp;<span style="color: var(--yellow);"><strong>10218</strong></span>&nbsp;has new Mentor enroll, go check it out.</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item" style="text-align: center;"><a href="#" style="color: var(--pink);">View All Notifications</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/profile}" style="margin-left: 19px;"><i class="far fa-user" style="font-size: 45px;color: purple;"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    -->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-4"><img data-aos="fade" src="/image/listenroll/Group%2013.png" style="margin: 15px;margin-left: 30px;"></div>
                <div class="col-md-6">
                    <p style="font-size: 40px;margin-top: 20px;"><em>Welcome back, [[${user.getUName()}]] !</em><br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center icon-separator">
        <div></div><i class="fas fa-table"></i>
        <div></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-11" style="background-color: white;border: solid 1px;margin-left: 53px;">
                <div style="margin-top: 10px;">
                    <form>
                        <div class="search-container"><input class="form-control search-input" type="text" name="search-bar" placeholder="Search..."><button class="btn btn-light search-btn" type="button" style="border: 1px solid;"> <i class="fa fa-search"></i></button></div>
                    </form>
                </div>
                <section data-aos="fade" data-aos-duration="200" data-aos-delay="50" data-aos-once="true" style="overflow-y: auto;height: 779px;width: 1001px;">
                    <div th:each="e: ${enrolls}" style="margin: 10px;padding: 15px;border: solid white 2px;background-color: #FF79CD;">
                        <div style="padding: 28px;border-width: 3px;border-style: solid;background: #ffffff;margin-top: 14px;margin-bottom: 29px;padding-bottom: 14px;box-shadow: 4px 4px var(--secondary);">
                            <img th:if="${e.getReqId().getMenteeIdFrom().getUImage()!=null}" th:src="${e.getReqId().getMenteeIdFrom().getUImage()}" style="float: left;height: 112px;width: 112.406px; border-radius: 50%;">
                            <img th:unless="${e.getReqId().getMenteeIdFrom().getUImage()}" src="/image/listenroll/Group%2013.png" style="float: left;height: 112px;width: 112.406px;">
                            <div style="height: 120px;">
                                <div style="padding: 10px;padding-bottom: 0px;padding-top: 0px;">
                                    <div>
                                        <p style="margin-left: 128px;padding: 16px;border-style: solid;text-align: left;font-size: 20px;width: 423px;">Mentor Name: <span style="color: pink;">[[${e.getReqId().getMenteeIdFrom().getUName()}]]</span></p>
                                    </div>
                                </div>
                                <div style="display: inline-block;padding: 10px;margin-left: 26px;border-style: solid;padding-bottom: 0px;">
                                    <p>Subject: <span style="color: pink;">[[${e.getReqId().getSubId().getSubName()}]]</span></p>
                                </div>
                                <div style="display: inline-block;padding: 10px;margin-left: 46px;border-style: solid;padding-bottom: 0px;">
                                    <p>Level: <span style="color: pink;">[[${e.getReqId().getLevId().getLevName()}]]</span></p>
                                </div>
                            </div>
                            <div>
                                <div style="text-align: center;padding: 8px;margin-top: 28px;border-radius: 37px;border-style: none;border-color: var(--gray);box-shadow: 0px 4px var(--gray);background: rgba(0,0,0,0.05);">
                                    <p style="font-size: 26px;">[[${e.getReqId().getReqTitle()}]]</p>
                                </div>
                            </div>
                            <div>
                                <div style="padding: 10px;margin-top: 20px;border-style: solid;border-color: var(--gray);box-shadow: 0px 6px var(--secondary);">
                                    <p>[[${e.getReqId().getReqDesc()}]]</p>
                                </div>
                            </div>
                            <div style="margin-top: 14px;padding: 14px;text-align: right;">
                                <div style="display: inline-block;border-style: solid;border-color: var(--gray);">
                                    <p style="padding: 8px;margin-bottom: 3px;">Status: <span style="color: #ff3399;">[[${e.getStatus()}]]</span></p>
                                </div>
                                <div style="display: inline-block;margin-left: 40px;border-style: solid;border-color: var(--gray);">
                                    <p style="padding: 8px;margin-bottom: 3px;">Date Created: <span style="color: #ff3399;">[[${format.format(e.getEnrDate())}]]</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Title</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>The content of your modal.</p>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
            </div>
        </div>
    </div>
    <footer class="bg-light footer" style="margin-top: 35px;padding: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Contact</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Terms of &nbsp;Use</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© Mentor Finder 2021. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-center text-lg-right my-auto h-100">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="/js/listenroll/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/js/profilementee/Off-Canvas-Sidebar-Drawer-Navbar.js"></script>
    <script src="/js/profilementee/Off-Canvas-Sidebar-Drawer-Navbar-1.js"></script>
    <script src="/js/CommonJS.js"></script>
    <script>
        $(document).ready(
            getAllNotification()
        );
        $("#noti-dropdown").click(function(){
            updateNotificationStatus();
            getAllNotification();
        });
    </script>
</body>

</html>