<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/signin/common.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/signin/fonts.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/signin/SignIn.css}" />



    </head>

    <body>
        <div class="sign-in-group sign-in-group-posize">
            <div style="--src:url(/image/signin/9e22b4672dd848f363390280a5ed351d.png)" class="sign-in-img sign-in-img-posize"></div>
            <div style="--src:url(/image/signin/f502381a42561e2e7e77284f4dc67453.png)" class="sign-in-img sign-in-img-posize1"></div>
            <div class="sign-in-coverGroup sign-in-coverGroup-posize">
                <div class="sign-in-flexbox sign-in-flexbox-posize">
                    <div class="sign-in-flexbox-item">
                        <div class="sign-in-txt sign-in-txt-posize">Mentor Finder.</div>
                    </div>
                    <div class="sign-in-flexbox-item1">
                        <div class="sign-in-txt1 sign-in-txt1-posize">Welcome to mentor finder</div>
                    </div>
                    <div th:text="${error}">  </div>
                    <form  th:action="@{/login_check}" method="post">
                        <div class="sign-in-coverGroup1 sign-in-coverGroup1-posize">
                            <div class="sign-in-background sign-in-background-posize"></div>
                            <div class="sign-in-foreground sign-in-foreground-posize">
                                <div style="--src:url(/image/signin/09b5951623c9a2174c9a0324bb6b8b37.png)" class="sign-in-icon sign-in-icon-posize"></div>
                                <div class="sign-in-foreground-space"></div>
                                <input type="text" class="sign-in-foreground-item" th:name="username"> </input>
                                <!--                                <div class="sign-in-txt2 sign-in-txt2-posize">Username    <input type="text" th:name="username" /> </div>-->
                            </div>
                        </div>
                        <div class="sign-in-coverGroup2 sign-in-coverGroup2-posize">
                            <div class="sign-in-background sign-in-background-posize"></div>
                            <div class="sign-in-foreground sign-in-foreground-posize1">
                                <div style="--src:url(/image/signin/f24265dac7aacf358cabaf7f60814556.png)" class="sign-in-icon sign-in-icon-posize"></div>
                                <div class="sign-in-foreground1-space"></div>
                                <input type="password" th:name="password" class="sign-in-foreground1-item">
                                    <!--<input type="password" class="sign-in-txt3 sign-in-txt3-posize">Password  <input type="password" th:name="password"> </input>-->
                                </input>
                            </div>
                        </div>
                        <div class="sign-in-flexbox-item2">
                            <div class="sign-in-flexbox1 sign-in-flexbox1-posize">
                                <input type="checkbox" class="sign-in-flexbox1-item">
                                    <!--                                <div class="sign-in-rect sign-in-rect-posize"> <input type="checkbox" th:name="remember" ></div>-->
                                </input>
                                <div class="sign-in-flexbox1-space"></div>
                                <div class="sign-in-flexbox1-item1">
                                    <div class="sign-in-txt4 sign-in-txt4-posize"> Remember me? </div>
                                </div>
                            </div>
                        </div>
                        <div class="sign-in-flexbox-item3">
                            <div class="sign-in-coverGroup3 sign-in-coverGroup3-posize">
                                <div class="sign-in-background2 sign-in-background2-posize"></div>
                                <div class="sign-in-txt5-box sign-in-txt5-box-posize">
                                    <input type="submit" value="Sign In" class="sign-in-txt5">
<!--                                <input type="submit" value="Sign In" />-->
                                    </input>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="sign-in-flexbox-item4">
                        <div class="sign-in-txt6-box sign-in-txt6-box-posize">
                            <div class="sign-in-txt6">
                                <span class="sign-in-txt6-span0">Dont have an account ? </span
                                ><span class="sign-in-txt6-span1"> 
                                    <a th:href="@{/register}"> Sign up </a>
                                </span><span class="sign-in-txt6-span2"> </span
                                ><span class="sign-in-txt6-span3">now </span><span class="sign-in-txt6-span4">.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>