<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <link rel="icon" type="image/png" sizes="16x16" th:href="@{/image/favicon/favicon-16x16.png}">
        <title>Home</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/font/mainhomementee/fontawesome5-overrides.min.css}">
        <link rel="stylesheet" th:href="@{/css/mainhomementee/Add-Another-Button.css}">
        <link rel="stylesheet" th:href="@{/css/mainhomementee/Card-Group1-Shadow.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
        <link rel="stylesheet" th:href="@{/css/profilementee/Off-Canvas-Sidebar-Drawer-Navbar.css}">
        <link rel="stylesheet" th:href="@{/css/mainhomementee/Navigation-Clean.css}">
        <link rel="stylesheet" th:href="@{/css/mainhomementee/Search-Field-With-Icon.css}">
        <link rel="stylesheet" th:href="@{/css/mainhomementee/Separator-with-icon.css}">
        <link rel="stylesheet" th:href="@{/css/mainhomementee/styles.css}">
    </head>
    <body style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 121, 205, 0.46) 35.94%, #23049D 100%);">
        <nav class="navbar navbar-dark fixed-top bg-dark off-canvas" data-right-drawer="0" data-open-drawer="0">
            <div class="container-fluid flex-column"><button class="btn btn-dark drawer-knob" type="button" data-open="drawer"><i class="fas fa-bars"></i></button>
                <div class="d-flex justify-content-between brand-line"><a class="navbar-brand" href="#">Mentor Finder</a><button class="btn btn-dark" type="button" data-dismiss="drawer"><span class="sr-only">Toggle Navigation&nbsp;</span><i class="fas fa-times"></i></button></div>
                <ul class="navbar-nav flex-column drawer-menu">
                    <li class="nav-item"><a class="nav-link active" data-bss-hover-animate="pulse" th:href="@{/home}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="#">Message<span class="badge badge-primary" style="margin-left: 5px;">42</span></a></li>
                    <li class="nav-item">
                        <div class="nav-item dropdown dropright"><a id="noti-dropdown" class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#" data-display="static" style="text-decoration: none;color: rgb(169,168,168);">Notification<span class="badge badge-primary" id="noti-unread"></span></a>
                            <div class="dropdown-menu dropdown-menu-right" style="box-shadow: 4px 4px 0px var(--gray);z-index: 1;position: absolute;max-height: 300px;min-height: 100px;  margin-top: -120px">
                                <h1 class="dropdown-header">Notification</h1>
                                <div style="overflow-y: auto;max-height: 200px; height:70" id="noti-item">
                                    
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item" style="text-align: center;"><a href="#" style="color: var(--pink);">View All Notifications</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" th:href="@{/profile}">Profile</a></li>
                </ul>
                <ul class="navbar-nav flex-column bottom-nav">
                    <li class="nav-item"><a class="nav-link" th:href="@{/profile/update/detail}">Account Setting</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Log Out</a></li>
                </ul>
            </div>
        </nav>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xl-4"><img data-aos="fade" src="/image/mainhomementee/Group%2013.png" style="margin: 15px;margin-left: 30px;"></div>
                    <div class="col-md-6">
                        <p style="font-size: 40px; margin-top: 20px;"><em>Welcome back, [[${username}]] !</em><br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center icon-separator">
            <div></div><i class="fas fa-table"></i>
            <div></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-8" style="background-color: white;border: solid 1px;">
                    <div style="margin-top: 10px;">
                        <form>
                            <div class="search-container"><input class="form-control search-input" type="text" name="search-bar" placeholder="Search..."><button class="btn btn-light search-btn" type="button" style="border: 1px solid;"> <i class="fa fa-search"></i></button></div>
                        </form>
                    </div>
                    <section>
                        <!-- phần loop request sẽ display ở dây -->
                        <div th:each="request: ${requests}">
                            <div style="margin: 10px;padding: 15px;border: solid white 2px;background-color: #FF79CD;">
                                <h3 style="padding-left: 11px;">[[${request.getReqTitle()}]]</h3>
                                <div style="padding: 28px;border-width: 3px;border-style: solid;background: #ffffff;margin-top: 24px;margin-bottom: 29px;padding-bottom: 14px;"><img src="/image/mainhomementee/Group%2013.png" style="float: left;height: 112px;">
                                    <p style="display: inline-block;margin-left: 26px;font-size: 15px;width: 452px;min-height: 100px;max-height: 150px;"><br>[[${request.getReqDesc()}]]<br><br></p>
                                </div>
                                <div><i class="fas fa-book" style="margin-left: 20px;font-size: 15px;"></i>
                                    <p style="display: inline-block;margin-left: 10px;font-size: 10px;">[[${request.getSubId().getSubName()}]]</p>
                                </div>
                                <div><i class="fas fa-school" style="margin-left: 20px;font-size: 15px;"></i>
                                    <p style="display: inline-block;margin-left: 10px;font-size: 10px;">[[${request.getLevId().getLevName()}]]</p>
                                </div>
                                <div style="margin-left: 20px;"><i class="fa fa-calendar" style="display: inline-block;font-size: 15px;"></i>
                                    <p style="display: inline-block;font-size: 10px;margin-left: 10px;">[[${request.getReqAvaiTime()}]]</p>
                                </div>
                                <div style="margin-top: 10px;text-align: right;">
                                    <input type="text" th:value="${request.getReqId()}" class="requestId" style="display: none;">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#enroll" onclick="var value = $(this).parent().children('.requestId').val();
                                                                                                                                                                getEnrolledList(value);">View enrolled</button>
                                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#delete" style="margin-left: 10px;" onclick="var value = $(this).parent().children('.requestId').val();
                                                                                                                                                                $('#reqIdDelete').val(value);">Delete</button></div>
                            </div>
                        </div>
                    </section>
                    <div style="margin: 14px;">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item">
                                    <form th:action="@{/mentee}" method="GET" id="prev_page">
                                        <div  th:if="${totalPages<=1 || currentPage==1}">
                                            <input th:value="${currentPage}" style="display: none">
                                        </div>
                                        <div th:unless="${totalPages<=1 || currentPage==1}">
                                            <input th:value="${currentPage}-1" style="display: none">
                                        </div>
                                        <a class="page-link" aria-label="Previous" href="javascript:$('#prev_page').submit();"><span aria-hidden="true">«</span></a>
                                    </form>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">[[${currentPage}]]</a></li>
                                <li class="page-item">
                                    <form th:action="@{/mentee}" method="GET" id="next_page">
                                        <div  th:if="${totalPages<=1 || currentPage>=totalPages}">
                                            <input type="text" th:value="${currentPage}" th:name="pageNum" style="display: none">
                                        </div>
                                        <div  th:unless="${totalPages<=1 || currentPage>=totalPages}">
                                            <input type="text" th:value="${currentPage}+1" th:name="pageNum" style="display: none">
                                        </div>
                                            <a class="page-link" aria-label="Next" href="javascript:$('#next_page').submit();"><span aria-hidden="true">»</span></a>
                                    </form>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <form th:action="@{/mentee/request/create}" method="GET">
                        <button class="btn btn-outline-primary text-truncate float-none float-sm-none add-another-btn" data-bss-hover-animate="pulse" type="submit" style="padding: 50px;margin-left: 50px;background: #f4b700;color: var(--dark);">Add Another Request<i class="fas fa-plus-circle edit-icon" style="font-size: 30px;"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <form th:action="@{/request/delete}" method="POST">
            <input type="text" id="reqIdDelete" style="display: none;" name="reqId">
            <div class="modal fade" role="dialog" tabindex="-1" id="delete">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Confirm</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <p>Delete this Request?</p>
                        </div>
                        <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button><button class="btn btn-primary" type="submit">Confirm</button></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal fade" role="dialog" tabindex="-1" id="enroll">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Enrolled List</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <div style="padding: 20px;overflow-y: auto;max-height: 500px;box-shadow: 7px 7px 0px var(--secondary);border: 3px solid var(--gray) ;">
                            <div id="listmentor" style="padding: 10px;border: 1px solid var(--gray);margin-top: 10px;padding-bottom: 5px;">
                                
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
                </div>
            </div>
        </div>
        <footer class="bg-light footer" style="margin-top: 35px;padding: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left my-auto h-100">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#">About</a></li>
                            <li class="list-inline-item"><span>⋅</span></li>
                            <li class="list-inline-item"><a href="#">Contact</a></li>
                            <li class="list-inline-item"><span>⋅</span></li>
                            <li class="list-inline-item"><a href="#">Terms of &nbsp;Use</a></li>
                            <li class="list-inline-item"><span>⋅</span></li>
                            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">© Mentor Finder 2021. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 text-center text-lg-right my-auto h-100">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
        <script src="/js/mainhomementee/bs-init.js"></script>
        <script src="/js/mainhomementee/Enrolled.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
        <script src="/js/profilementee/Off-Canvas-Sidebar-Drawer-Navbar.js"></script>
        <script src="/js/profilementee/Off-Canvas-Sidebar-Drawer-Navbar-1.js"></script>
        <script src="/js/CommonJS.js"></script>
        <script>
            $(document).ready(
                getAllNotification()
            );
            $("#noti-dropdown").click(function(){
                updateNotificationStatus();
                getAllNotification();
            });
        </script>
    </body>

</html>
