<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Mentor Finder</title>
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/image/favicon/favicon-16x16.png}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/font/mainhomementor/fontawesome5-overrides.min.css}">
        <link rel="stylesheet" th:href="@{/css/mainhomementor/Add-Another-Button.css}">
        <link rel="stylesheet" th:href="@{/css/mainhomementor/Card-Group1-Shadow.css}">
        <link rel="stylesheet" th:href="@{/css/mainhomementor/checkbox.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
        <link rel="stylesheet" th:href="@{/css/profilementee/Off-Canvas-Sidebar-Drawer-Navbar.css}">
        <link rel="stylesheet" th:href="@{/css/mainhomementor/Navigation-Clean.css}">
        <link rel="stylesheet" th:href="@{/css/mainhomementor/Search-Field-With-Icon.css}">
        <link rel="stylesheet" th:href="@{/css/mainhomementor/Separator-with-icon.css}">
        <link rel="stylesheet" tH:href="@{/css/mainhomementor/styles.css}">
    </head>

    <body style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 121, 205, 0.46) 35.94%, #23049D 100%);">
        <nav class="navbar navbar-dark fixed-top bg-dark off-canvas" data-right-drawer="0" data-open-drawer="0">
            <div class="container-fluid flex-column"><button class="btn btn-dark drawer-knob" type="button" data-open="drawer"><i class="fas fa-bars"></i></button>
                <div class="d-flex justify-content-between brand-line"><a class="navbar-brand" href="#">Mentor Finder</a><button class="btn btn-dark" type="button" data-dismiss="drawer"><span class="sr-only">Toggle Navigation&nbsp;</span><i class="fas fa-times"></i></button></div>
                <ul class="navbar-nav flex-column drawer-menu">
                    <li class="nav-item"><a class="nav-link active" data-bss-hover-animate="pulse" th:href="@{/home}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" th:href="@{/mentor/enrolled/list}">Enrolled List</a></li>
                    <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" th:href="@{/chat}">Message<span class="badge badge-primary" style="margin-left: 5px;"></span></a></li>
                    <li class="nav-item">
                        <div class="nav-item dropdown dropright"><a id="noti-dropdown" class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#" data-display="static" style="text-decoration: none;color: rgb(169,168,168);">Notification<span class="badge badge-primary" id="noti-unread"></span></a>
                            <div class="dropdown-menu dropdown-menu-right" style="box-shadow: 4px 4px 0px var(--gray);z-index: 1;position: absolute;max-height: 300px;min-height: 50px;  margin-top: -120px">
                                <h1 class="dropdown-header">Notification</h1>
                                <div style="overflow-y: auto;max-height: 200px; height:70" id="noti-item">
                                    
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item" style="text-align: center;"><a href="#" style="color: var(--pink);">View All Notifications</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" th:href="@{/profile}">Profile</a></li>
                </ul>
                <ul class="navbar-nav flex-column bottom-nav">
                    <li class="nav-item"><a class="nav-link" th:href="@{/profile/update/detail}">Account Setting</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Log Out</a></li>
                </ul>
            </div>
        </nav>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xl-4"><img data-aos="fade" th:src="${user.getUImage()}" style="margin: 15px;margin-left: 30px;width: 272px;height: 272px;border: 3px solid var(--purple) ;object-fit: cover;"></div>
                    <div class="col-md-6">
                        <p style="font-size: 40px;margin-top: 20px;"><em>Welcome back, [[${user.getUName()}]] !</em><br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center icon-separator">
            <div></div><i class="fas fa-table"></i>
            <div></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-8" style="background-color: white;border: solid 1px;">
                    <div style="margin-top: 10px;">
                        <form>
                            <div class="search-container"><input class="form-control search-input" type="text" name="search-bar" placeholder="Search..."><button class="btn btn-light search-btn" type="button" style="border: 1px solid;"> <i class="fa fa-search"></i></button></div>
                        </form>
                    </div>
                    <section data-aos="fade" data-aos-duration="200" data-aos-delay="50" data-aos-once="true">
                        <div class="request-group" th:if="${!requests.isEmpty() && totalItems<10}" style="display: block">
                            <div th:each="i: ${#numbers.sequence(0, totalItems-1)}">
                                <div style="margin: 10px;padding: 15px;border: solid white 2px;background-color: #FF79CD;">
                                    <h3>[[${requests.get(i).getReqTitle()}]]</h3>
                                    <div style="padding: 28px;border-width: 3px;border-style: solid;background: #ffffff;margin-top: 24px;margin-bottom: 29px;padding-bottom: 14px;"><img th:src="${requests.get(i).getMenteeIdFrom().getUImage()}" style="float: left;width: 112px;height: 112px;border: 2px solid var(--purple) ;object-fit: cover;">
                                        <p style="display: inline-block;margin-left: 26px;font-size: 15px;width: 452px;min-height: 100px;max-height: 150px;"><br>[[${requests.get(i).getReqDesc()}]]<br><br></p>
                                    </div>
                                    <div><i class="fas fa-book" style="margin-left: 20px;font-size: 15px;"></i>
                                        <p style="display: inline-block;margin-left: 10px;font-size: 10px;"> [[${requests.get(i).getSubId().getSubName()}]]</p>
                                    </div>
                                    <div><i class="fas fa-school" style="margin-left: 20px;font-size: 15px;"></i>
                                        <p style="display: inline-block;margin-left: 10px;font-size: 10px;">[[${requests.get(i).getLevId().getLevName()}]]</p>
                                    </div>
                                    <div style="margin-left: 20px;"><i class="fa fa-calendar" style="display: inline-block;font-size: 15px;"></i>
                                        <p style="display: inline-block;font-size: 10px;margin-left: 10px;">[[${requests.get(i).getReqAvaiTime()}]]</p>
                                    </div>
                                    <div style="margin-top: 6px;text-align: left;padding: 5px;">
                                        <input type="text" th:value="${requests.get(i).getReqId().toString()}" class="requestId" style="display: none">
                                        <button id="enrollBtn" class="btn btn-primary" type="button" data-toggle="modal" data-target="#delete" onclick="var value = $(this).parent().children('.requestId').val();
                                                                                                                                                        $('#reqId').val(value);
                                                                                                                                                        ">Enroll this Request</button>
                                        <a th:href="@{'/roomcreate/' +  ${requests.get(i).getMenteeIdFrom().getUId()}}">
                                        <button id="connectChat" class="btn btn-primary" type="button">Connect Chat</button>     
                                            
                                        </a>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="request-group" th:if="${!requests.isEmpty() && totalItems>=10}" style="display: block">
                            <div th:each="i: ${#numbers.sequence(0, 9)}">
                                <div style="margin: 10px;padding: 15px;border: solid white 2px;background-color: #FF79CD;">
                                    <h3 style="padding-left: 11px;">[[${requests.get(i).getReqTitle()}]]</h3>
                                    <div style="padding: 28px;border-width: 3px;border-style: solid;background: #ffffff;margin-top: 24px;margin-bottom: 29px;padding-bottom: 14px;"><img th:src="${requests.get(i).getMenteeIdFrom().getUImage()}" style="float: left;height: 112px;border: 2px solid var(--purple) ;">
                                        <p style="display: inline-block;margin-left: 26px;font-size: 15px;width: 452px;min-height: 100px;max-height: 150px;"><br>[[${requests.get(i).getReqDesc()}]]<br><br></p>
                                    </div>
                                     <div><i class="fas fa-book" style="margin-left: 20px;font-size: 15px;"></i>
                                        <p style="display: inline-block;margin-left: 10px;font-size: 10px;"> [[${requests.get(i).getSubId().getSubName()}]]</p>
                                    </div>
                                    <div><i class="fas fa-school" style="margin-left: 20px;font-size: 15px;"></i>
                                        <p style="display: inline-block;margin-left: 10px;font-size: 10px;">[[${requests.get(i).getLevId().getLevName()}]]</p>
                                    </div>
                                    <div style="margin-left: 20px;"><i class="fa fa-calendar" style="display: inline-block;font-size: 15px;"></i>
                                        <p style="display: inline-block;font-size: 10px;margin-left: 10px;">[[${requests.get(i).getReqAvaiTime()}]]</p>
                                    </div>
                                    <div style="margin-top: 6px;text-align: left;padding: 5px;">
                                        <input type="text" th:value="${requests.get(i).getReqId().toString()}" class="requestId" style="display: none">
                                        <button id="enrollBtn" class="btn btn-primary" type="button" data-toggle="modal" data-target="#delete" onclick="var value = $(this).parent().children('.requestId').val();
                                                                                                                                                        $('#reqId').val(value);
                                                                                                                                                        ">Enroll this Request</button>
                                        <a th:href="@{'/roomcreate/' +  ${requests.get(i).getMenteeIdFrom().getUId()}}">
                                        <button id="connectChat" class="btn btn-primary" type="button">Connect Chat</button>        
                                            
                                        </a>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="request-group" th:if="${!requests.isEmpty() && totalPages>=3}" th:each="p: ${#numbers.sequence(1, totalPages-2)}" style="display: none">
                            <div th:each="i: ${#numbers.sequence(10*p, 10*p+9)}">
                                <div style="margin: 10px;padding: 15px;border: solid white 2px;background-color: #FF79CD;">
                                    <h3 style="padding-left: 11px;">[[${requests.get(i).getReqTitle()}]]</h3>
                                    <div style="padding: 28px;border-width: 3px;border-style: solid;background: #ffffff;margin-top: 24px;margin-bottom: 29px;padding-bottom: 14px;"><img th:src="${requests.get(i).getMenteeIdFrom().getUImage()}" style="float: left;height: 112px;border: 2px solid var(--purple) ;">
                                        <p style="display: inline-block;margin-left: 26px;font-size: 15px;width: 452px;min-height: 100px;max-height: 150px;"><br>[[${requests.get(i).getReqDesc()}]]<br><br></p>
                                    </div>
                                     <div><i class="fas fa-book" style="margin-left: 20px;font-size: 15px;"></i>
                                        <p style="display: inline-block;margin-left: 10px;font-size: 10px;"> [[${requests.get(i).getSubId().getSubName()}]]</p>
                                    </div>
                                    <div><i class="fas fa-school" style="margin-left: 20px;font-size: 15px;"></i>
                                        <p style="display: inline-block;margin-left: 10px;font-size: 10px;">[[${requests.get(i).getLevId().getLevName()}]]</p>
                                    </div>
                                    <div style="margin-left: 20px;"><i class="fa fa-calendar" style="display: inline-block;font-size: 15px;"></i>
                                        <p style="display: inline-block;font-size: 10px;margin-left: 10px;">[[${requests.get(i).getReqAvaiTime()}]]</p>
                                    </div>
                                    <div style="margin-top: 6px;text-align: left;padding: 5px;">
                                        <input type="text" th:value="${requests.get(i).getReqId().toString()}" class="requestId" style="display: none">
                                        <button id="enrollBtn" class="btn btn-primary" type="button" data-toggle="modal" data-target="#delete" onclick="var value = $(this).parent().children('.requestId').val();
                                                                                                                                                        $('#reqId').val(value);
                                                                                                                                                        ">Enroll this Request</button>
                                        <a th:href="@{'/roomcreate/' +  ${requests.get(i).getMenteeIdFrom().getUId()}}">
                                        <button id="connectChat" class="btn btn-primary" type="button">Connect Chat</button>    
                                            
                                        </a>  
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="request-group" th:if="${!requests.isEmpty() && totalPages>=2}" style="display: none">
                            <div th:each="i: ${#numbers.sequence(10*(totalPages-1), 10*(totalPages-1)+lastPage-1)}">
                                <div style="margin: 10px;padding: 15px;border: solid white 2px;background-color: #FF79CD;">
                                    <h3 style="padding-left: 11px;">[[${requests.get(i).getReqTitle()}]]</h3>
                                    <div style="padding: 28px;border-width: 3px;border-style: solid;background: #ffffff;margin-top: 24px;margin-bottom: 29px;padding-bottom: 14px;"><img th:src="${requests.get(i).getMenteeIdFrom().getUImage()}" style="float: left;height: 112px;border: 2px solid var(--purple) ;">
                                        <p style="display: inline-block;margin-left: 26px;font-size: 15px;width: 452px;min-height: 100px;max-height: 150px;"><br>[[${requests.get(i).getReqDesc()}]]<br><br></p>
                                    </div>
                                     <div><i class="fas fa-book" style="margin-left: 20px;font-size: 15px;"></i>
                                        <p style="display: inline-block;margin-left: 10px;font-size: 10px;"> [[${requests.get(i).getSubId().getSubName()}]]</p>
                                    </div>
                                    <div><i class="fas fa-school" style="margin-left: 20px;font-size: 15px;"></i>
                                        <p style="display: inline-block;margin-left: 10px;font-size: 10px;">[[${requests.get(i).getLevId().getLevName()}]]</p>
                                    </div>
                                    <div style="margin-left: 20px;"><i class="fa fa-calendar" style="display: inline-block;font-size: 15px;"></i>
                                        <p style="display: inline-block;font-size: 10px;margin-left: 10px;">[[${requests.get(i).getReqAvaiTime()}]]</p>
                                    </div>
                                    <div style="margin-top: 6px;text-align: left;padding: 5px;">
                                        <input type="text" th:value="${requests.get(i).getReqId().toString()}" class="requestId" style="display: none">
                                        <button id="enrollBtn" class="btn btn-primary" type="button" data-toggle="modal" data-target="#delete" onclick="var value = $(this).parent().children('.requestId').val();
                                                                                                                                                        $('#reqId').val(value);
                                                                                                                                                        ">Enroll this Request</button>
                                         <a th:href="@{'/roomcreate/' +  ${requests.get(i).getMenteeIdFrom().getUId()}}">
                                        <button id="connectChat" class="btn btn-primary" type="button">Connect Chat</button>    
                                            
                                        </a>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div style="margin: 14px;">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" aria-label="Previous" onclick="prevPage()"><span aria-hidden="true">«</span></a>
                                </li>
                                <li class="page-item active"><a class="page-link" id="current-page">1</a></li>
                                <li class="page-item">
                                    <a class="page-link" aria-label="Next" th:attr="onclick=|nextPage(${totalPages})|"><span aria-hidden="true">»</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <a
                    class="btn btn-outline-primary text-truncate float-none float-sm-none add-another-btn"
                    data-bss-hover-animate="pulse" th:href="@{/mentor/enrolled/list}"
                    style="text-decoration: none; color:white;padding: 50px;margin-left: 44px;background: #f4b700;color: var(--dark);margin-top: 16px;font-size: 18px;font-family: 'PT Serif', serif;">See
                    all Enrolled<i class="fas fa-inbox edit-icon" style="font-size: 25px;"></i></a>
                    <div style="padding: 10px;margin: 10px;border: 4px solid;background-color: white;">
                        <form th:action="@{/mentor}" method="GET">
                            <div class="text-center icon-separator">
                                <div></div><i class="fas fa-filter"></i>
                                <div></div>
                            </div>
                            <div>
                                <p style="font-size: 39px;margin-bottom: 0px;">Filter</p>
                                <p>Education</p>
                                <div th:each="lev: ${levs}">
                                    <div th:if="${lev.value}">
                                        <label class="check" >[[${lev.key.getLevName()}]]
                                            <input type="checkbox" name="levId" th:value="${lev.key.getLevId()}" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div th:unless="${lev.value}">
                                        <label class="check" >[[${lev.key.getLevName()}]]
                                            <input type="checkbox" name="levId" th:value="${lev.key.getLevId()}">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <p>Subject</p>
                                <div th:each="sub: ${subjs}">
                                    <div th:if="${sub.value}">
                                        <label class="check" >[[${sub.key.getSubName()}]]
                                            <input type="checkbox" name="subId" th:value="${sub.key.getSubId()}" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div th:unless="${sub.value}">
                                        <label class="check" >[[${sub.key.getSubName()}]]
                                            <input type="checkbox" name="subId" th:value="${sub.key.getSubId()}">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: right;"><button class="btn btn-primary" type="submit" style="border-color: var(--warning);background: var(--warning);">Filter</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <form th:action="@{/enrolled/create}" method="post">
            <div class="modal fade" role="dialog" tabindex="-1" id="delete">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Confirm</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <p>Enroll this Request?</p>
                            <input type="text" th:name="reqId" id="reqId" style="display: none">
                        </div>
                        <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="submit">Enroll</button></div>
                    </div>
                </div>
            </div>
        </form>
        
        <footer class="bg-light footer" style="margin-top: 35px;padding: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left my-auto h-100">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#">About</a></li>
                            <li class="list-inline-item"><span>⋅</span></li>
                            <li class="list-inline-item"><a href="#">Contact</a></li>
                            <li class="list-inline-item"><span>⋅</span></li>
                            <li class="list-inline-item"><a href="#">Terms of &nbsp;Use</a></li>
                            <li class="list-inline-item"><span>⋅</span></li>
                            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">© Mentor Finder 2021. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 text-center text-lg-right my-auto h-100">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
        <script src="/js/mainhomementor/bs-init.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
        <script src="/js/mainhomementor/HomeMentor.js"></script>
        <script src="/js/profilementee/Off-Canvas-Sidebar-Drawer-Navbar.js"></script>
        <script src="/js/profilementee/Off-Canvas-Sidebar-Drawer-Navbar-1.js"></script>
        <script src="/js/CommonJS.js"></script>
        <script>
            $(document).ready(
                getAllNotification()
            );
            $("#noti-dropdown").click(function(){
                updateNotificationStatus();
                getAllNotification();
            });
        </script>
    </body>

</html>
