<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/signup/common.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/signup/fonts.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/signup/SignUp.css}" />
    </head>

    <body>
        <div class="sign-up-group sign-up-group-posize">
            <div style="--src:url(/image/signup/9e22b4672dd848f363390280a5ed351d.png)" class="sign-up-img sign-up-img-posize"></div>
            <div style="--src:url(/image/signup/ba81f3dc3c787dae78ee03d2f40dad09.png)" class="sign-up-img sign-up-img-posize1"></div>
            <div class="sign-up-coverGroup sign-up-coverGroup-posize">
                <div class="sign-up-flexbox sign-up-flexbox-posize">
                    <div class="sign-up-flexbox-item">
                        <div class="sign-up-txt sign-up-txt-posize">Mentor Finder.</div>
                    </div>
                    <div class="sign-up-flexbox-item1">
                        <div class="sign-up-txt1 sign-up-txt1-posize">welcome to mentor finder</div>
                    </div>
                    <div th:text="${error}">  </div>
                    <form  th:action="@{/register}" method="post">
                        <div class="sign-up-coverGroup1 sign-up-coverGroup1-posize">
                            <div class="sign-up-background sign-up-background-posize"></div>
                            <div class="sign-up-foreground sign-up-foreground-posize">
                                <div style="--src:url(/image/signup/09b5951623c9a2174c9a0324bb6b8b37.png)" class="sign-up-icon sign-up-icon-posize"></div>
                                <div class="sign-up-foreground-space"></div>
                                <input type="text" class="sign-up-foreground-item"  th:name="username">
                                    <!--                            <div class="sign-up-txt2 sign-up-txt2-posize">username  <input type="text" th:name="username" /> </div>-->
                                </input>
                            </div>
                        </div>
                        <div class="sign-up-coverGroup1 sign-up-coverGroup1-posize">
                            <div class="sign-up-background sign-up-background-posize"></div>
                            <div class="sign-up-foreground sign-up-foreground-posize">
                                <div style="--src:url(/image/signup/09b5951623c9a2174c9a0324bb6b8b37.png)" class="sign-up-icon sign-up-icon-posize"></div>
                                <div class="sign-up-foreground-space"></div>
                                <input type="text" class="sign-up-foreground3-item" th:name="email">
                                    <!--                            <div class="sign-up-txt2 sign-up-txt2-posize">e-mail <input type="text" th:name="email" /></div>-->
                                </input>
                            </div>
                        </div>
                        <div class="sign-up-coverGroup2 sign-up-coverGroup2-posize">
                            <div class="sign-up-background sign-up-background-posize"></div>
                            <div class="sign-up-foreground sign-up-foreground-posize1">
                                <div style="--src:url(/image/signup/677a786fe6f11a9ae8db4dc051d5eff5.png)" class="sign-up-icon sign-up-icon-posize1"></div>
                                <div class="sign-up-foreground1-space"></div>
                                <input type="password" class="sign-up-foreground1-item" th:name="password">
                                    <!--<div class="sign-up-txt3 sign-up-txt3-posize">Password <input type="password" th:name="password" /></div>-->
                                </input>
                            </div>
                        </div>
                        <div class="sign-up-coverGroup3 sign-up-coverGroup3-posize">
                            <div class="sign-up-background sign-up-background-posize"></div>
                            <div class="sign-up-foreground sign-up-foreground-posize2">
                                <div style="--src:url(/image/signup/677a786fe6f11a9ae8db4dc051d5eff5.png)" class="sign-up-icon sign-up-icon-posize2"></div>
                                <div class="sign-up-foreground2-space"></div>
                                <input type="password" class="sign-up-foreground2-item" th:name="passwordRetyped">
                                    <!--<div class="sign-up-txt4 sign-up-txt4-posize">Re-enter Password <input type="password" th:name="passwordRetyped" />  </div>-->
                                </input>
                            </div>
                        </div>

                        <div class="sign-up-flexbox-item5">
                            <div class="sign-up-flexbox3 sign-up-flexbox3-posize">
                                <input type="checkbox" th:name="acceptTerm" class="sign-up-flexbox3-item">
                                    <!--                            <div class="sign-up-rect sign-up-rect-posize2"> <input type="checkbox" th:name="acceptTerm" >
                                                                </div>-->
                                </input>
                                <div class="sign-up-flexbox3-space"></div>
                                <div class="sign-up-flexbox3-item1">
                                    <div class="sign-up-txt8-box sign-up-txt8-box-posize">
                                        <div class="sign-up-txt8">
                                            <span class="sign-up-txt8-span0">Accept our </span
                                            ><span class="sign-up-txt8-span1">Temp and Conditions</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sign-up-flexbox-item6">
                            <div class="sign-up-coverGroup4 sign-up-coverGroup4-posize">
                                <div class="sign-up-background3 sign-up-background3-posize"></div>
                                <div class="sign-up-txt9 sign-up-txt9-posize">
                                    <input type="submit" value="Sign Up" class="sign-in-txt20">
                                        <!--                                <input type="submit" value="Sign In" />-->
                                    </input>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="sign-up-flexbox-item7">
                        <div class="sign-up-txt10-box sign-up-txt10-box-posize">
                            <div class="sign-up-txt10">
                                <span class="sign-up-txt10-span0">Already have an account ? </span
                                ><span class="sign-up-txt10-span1">   <a th:href="@{/login}"> Sign in</span><span class="sign-up-txt10-span2"> </span
                                ><span class="sign-up-txt10-span3">now </span><span class="sign-up-txt10-span4">.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>