<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Hi, welcome to Mentor Finder!</div>
        <div>Tell us a little bit about you!:</div>
        <form  th:action="@{/???}" method="post">
            Your name: <input type="text" th:name="name" />
            DoB: <input type="text" th:name="dob" />
            Gender: 
            
        </form>
    </body>
</html>
