/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */

.sign-up-group {
    display: flex;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 121, 205, 0.46) 35.94%, #23049D 100%);
}

.sign-up-group-posize {
    position: relative;
    min-height: 873px;
    flex-grow: 1;
    margin: 0px;
}

.sign-up-img {
    background: var(--src) center center / cover no-repeat;
}

.sign-up-img-posize {
    position: absolute;
    top: 0px;
    height: 448px;
    left: 0px;
    width: 448px;
    min-width: 448px;
    margin: 144px 850px 281px 142px;
}

.sign-up-img-posize1 {
    position: absolute;
    top: 0px;
    height: 436px;
    left: 0px;
    width: 408px;
    min-width: 408px;
    margin: 262px 870px 175px 162px;
}

.sign-up-coverGroup {
    display: flex;
    background-color: #fff;
}

.sign-up-coverGroup-posize {
    position: relative;
    height: 794px;
    width: 634px;
    min-width: 634px;
    margin: 21px 91px 58px 715px;
}

.sign-up-flexbox {
    display: flex;
    flex-direction: column;
}

.sign-up-flexbox-posize {
    position: relative;
    flex-grow: 1;
    margin: 31px 97px 54px;
}

.sign-up-flexbox-item {
    display: flex;
    flex: 0 0 auto;
    min-height: 186px;
}

.sign-up-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 53.3333333333px PT Serif, Helvetica, Arial, serif;
    color: #000;
    text-align: center;
    letter-spacing: -2.56;
}

.sign-up-txt-posize {
    position: relative;
    width: fit-content;
    margin: 0px auto 110px;
}

.sign-up-flexbox-item1 {
    display: flex;
    flex: 0 0 auto;
    min-height: 54px;
}

.sign-up-txt1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 20px PT Serif, Helvetica, Arial, serif;
    color: #000;
    text-align: center;
    letter-spacing: -0.96;
}

.sign-up-txt1-posize {
    position: relative;
    width: fit-content;
    margin: 0px auto 26px;
}

.sign-up-coverGroup1 {
    display: flex;
}

.sign-up-coverGroup1-posize {
    position: relative;
    min-height: 52px;
    margin: 0px 31px 24px 45px;
}

.sign-up-background {
    background-color: #fff;
    box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.25098039215686274);
    border: 1px solid #000;
    border-radius: 15px 15px 15px 15px;
}

.sign-up-background-posize {
    position: absolute;
    top: 0px;
    height: 52px;
    left: 0px;
    flex-grow: 1;
    right: 0px;
    margin: 0px;
}

.sign-up-foreground {
    display: flex;
}

.sign-up-foreground-posize {
    position: relative;
    flex-grow: 1;
    margin: 14px 252px 11px 20px;
}

.sign-up-icon {
    background: var(--src) center center / contain no-repeat;
}

.sign-up-icon-posize {
    position: relative;
    height: 26px;
    width: 26px;
    min-width: 26px;
    margin: 1px 0px 0px;
}

.sign-up-foreground-space {
    display: flex;
    flex: 0 0 auto;
    min-width: 14.16px;
}

.sign-up-foreground-item {
    display: flex;
    flex: 0 0 auto;
    border: none;
    width: 800px;
    
}
.sign-up-foreground3-item {
    display: flex;
    flex: 0 0 auto;
    border: none;
}

.sign-up-txt2 {
    display: flex;
    align-items: center;
    font: italic 14.4px PT sans, Helvetica, Arial, serif;
    color: #000;
    letter-spacing: 1.17;
}

.sign-up-txt2-posize {
    position: relative;
    width: fit-content;
    margin: 0px auto 5px;
}

.sign-up-coverGroup2 {
    display: flex;
}

.sign-up-coverGroup2-posize {
    position: relative;
    min-height: 52px;
    margin: 0px 31px 24px 45px;
}

.sign-up-foreground-posize1 {
    position: relative;
    flex-grow: 1;
    margin: 14px 229px 12px 20px;
}

.sign-up-icon-posize1 {
    position: relative;
    height: 26px;
    width: 26px;
    min-width: 26px;
    margin: 0px;
}

.sign-up-foreground1-space {
    display: flex;
    flex: 0 0 auto;
    min-width: 14.16px;
}

.sign-up-foreground1-item {
    display: flex;
    flex: 0 0 auto;
    border: none;
}

.sign-up-txt3 {
    display: flex;
    align-items: center;
    font: italic 14.4px PT sans, Helvetica, Arial, serif;
    color: #000;
    letter-spacing: 1.17;
}

.sign-up-txt3-posize {
    position: relative;
    width: fit-content;
    margin: 0px auto 4px;
}

.sign-up-coverGroup3 {
    display: flex;
}

.sign-up-coverGroup3-posize {
    position: relative;
    min-height: 52px;
    margin: 0px 31px 23px 45px;
}

.sign-up-foreground-posize2 {
    position: relative;
    flex-grow: 1;
    margin: 14px 159px 12px 20px;
}

.sign-up-icon-posize2 {
    position: relative;
    height: 26px;
    width: 26px;
    min-width: 26px;
    margin: 0px;
}

.sign-up-foreground2-space {
    display: flex;
    flex: 0 0 auto;
    min-width: 14px;
}

.sign-up-foreground2-item {
    display: flex;
    flex: 0 0 auto;
    border: none;
}

.sign-up-txt4 {
    display: flex;
    align-items: center;
    font: italic 14.4px PT sans, Helvetica, Arial, serif;
    color: #000;
    letter-spacing: 1.17;
}

.sign-up-txt4-posize {
    position: relative;
    width: fit-content;
    margin: 0px auto 4px;
}

.sign-up-flexbox-item2 {
    display: flex;
    flex: 0 0 auto;
}

.sign-up-txt5 {
    display: flex;
    align-items: center;
    font: 15px PT Serif, Helvetica, Arial, serif;
    color: #000;
    letter-spacing: 0;
}

.sign-up-txt5-posize {
    position: relative;
    width: fit-content;
    margin: 0px 0px 9px 46px;
}

.sign-up-flexbox-item3 {
    display: flex;
    flex: 0 1 39px;
}

.sign-up-flexbox1 {
    display: flex;
}

.sign-up-flexbox1-posize {
    position: relative;
    flex-grow: 1;
    margin: 0px 287px 10px 46px;
}

.sign-up-flexbox1-item {
    display: flex;
    flex: 0 1 24px;
}

.sign-up-rect {
    background-color: #fff;
    border: 1px solid #000;
}

.sign-up-rect-posize {
    position: relative;
    height: 21px;
    flex-grow: 1;
    margin: 8px 0px 0px;
}

.sign-up-flexbox1-space {
    display: flex;
    flex: 0 0 auto;
    min-width: 17px;
}

.sign-up-flexbox1-item1 {
    display: flex;
    flex: 0 0 auto;
}

.sign-up-txt6 {
    display: flex;
    align-items: center;
    font: 15px PT Serif, Helvetica, Arial, serif;
    color: #000;
    letter-spacing: 0;
}

.sign-up-txt6-posize {
    position: relative;
    width: fit-content;
    margin: 0px auto 8px;
}

.sign-up-flexbox-item4 {
    display: flex;
    flex: 0 1 62px;
}

.sign-up-flexbox2 {
    display: flex;
}

.sign-up-flexbox2-posize {
    position: relative;
    flex-grow: 1;
    margin: 0px 287px 32px 46px;
}

.sign-up-flexbox2-item {
    display: flex;
    flex: 0 1 24px;
}

.sign-up-rect-posize1 {
    position: relative;
    height: 21px;
    flex-grow: 1;
    margin: 9px 0px 0px;
}

.sign-up-flexbox2-space {
    display: flex;
    flex: 0 0 auto;
    min-width: 15px;
}

.sign-up-flexbox2-item1 {
    display: flex;
    flex: 0 0 auto;
}

.sign-up-txt7 {
    display: flex;
    align-items: center;
    font: 15px PT Serif, Helvetica, Arial, serif;
    color: #000;
    letter-spacing: 0;
}

.sign-up-txt7-posize {
    position: relative;
    width: fit-content;
    margin: 0px auto 9px;
}

.sign-up-flexbox-item5 {
    display: flex;
    flex: 0 1 41px;
}

.sign-up-flexbox3 {
    display: flex;
}

.sign-up-flexbox3-posize {
    position: relative;
    flex-grow: 1;
    margin: 0px 89px 15px 46px;
}

.sign-up-flexbox3-item {
    display: flex;
    flex: 0 1 24px;
}

.sign-up-rect-posize2 {
    position: relative;
    height: 21px;
    flex-grow: 1;
    margin: 5px 0px 0px;
}

.sign-up-flexbox3-space {
    display: flex;
    flex: 0 0 auto;
    min-width: 17px;
}

.sign-up-flexbox3-item1 {
    display: flex;
    flex: 0 0 auto;
}

.sign-up-txt8-box {
    display: flex;
    align-items: center;
}

.sign-up-txt8-box-posize {
    position: relative;
    display: block;
    width: fit-content;
    margin: 0px auto 4px;
}

.sign-up-txt8 {
    font: undefined 14.4px "Roboto", Helvetica, Arial, serif;
    color: #000;
    letter-spacing: 1.71;
}

.sign-up-txt8-span0 {
    font: 0.8em PT Serif, Helvetica, Arial, serif;
    color: #000 ff;
    letter-spacing: 1.71;
}

.sign-up-txt8-span1 {
    font: 0.8em PT Serif, Helvetica, Arial, serif;
    color: #ff7ace ff;
    letter-spacing: 1.71;
}

.sign-up-flexbox-item6 {
    display: flex;
    flex: 0 1 49px;
}

.sign-up-coverGroup4 {
    display: flex;
}

.sign-up-coverGroup4-posize {
    position: relative;
    min-height: 47px;
    flex-grow: 1;
    margin: 0px 124px 2px 125px;
}

.sign-up-background3 {
    background-color: #ffe06c;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25098039215686274);
    border: 2px solid #000;
    border-radius: 23.5px 23.5px 23.5px 23.5px;
}

.sign-up-background3-posize {
    position: absolute;
    top: 0px;
    height: 47px;
    left: 0px;
    flex-grow: 1;
    right: 0px;
    margin: 0px;
}

.sign-up-txt9 {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 15px PT Serif, Helvetica, Arial, serif;
    color: #000;
    text-align: center;
    letter-spacing: 0;
}

.sign-up-txt9-posize {
    position: relative;
    width: fit-content;
    margin: 7px 0px 19px 48px;
}

.sign-up-flexbox-item7 {
    display: flex;
    flex: 0 0 auto;
    min-height: 21px;
}

.sign-up-txt10-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-txt10-box-posize {
    position: relative;
    display: block;
    width: fit-content;
    margin: 0px auto;
}

.sign-up-txt10 {
    font: 15px PT Serif, Helvetica, Arial, serif;
    color: #000;
    text-align: center;
    letter-spacing: -0.72;
}

.sign-up-txt10-span0 {
    font: 0.8333333333em PT Serif, Helvetica, Arial, serif;
    color: #000 ff;
    letter-spacing: -0.72;
}

.sign-up-txt10-span1 {
    font: 0.8333333333em PT Serif, Helvetica, Arial, serif;
    color: #ff7ace ff;
    letter-spacing: -0.72;
}

.sign-up-txt10-span2 {
    font: 0.8333333333em PT Serif, Helvetica, Arial, serif;
    color: #000 ff;
    letter-spacing: -0.72;
}

.sign-up-txt10-span3 {
    font: 0.8333333333em PT Serif, Helvetica, Arial, serif;
    color: #ff7ace ff;
    letter-spacing: -0.72;
}

.sign-up-txt10-span4 {
    font: 0.8333333333em PT Serif, Helvetica, Arial, serif;
    color: #000 ff;
    letter-spacing: -0.72;
}

.sign-in-txt20{
    overflow: visible;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 75px;
    font: 15px PT Serif, Helvetica, Arial, serif;
    color: #000;
    text-align: center;
    letter-spacing: 0;
    white-space: pre-wrap; 
}