/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */

.sign-in-group {
    display: flex;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 121, 205, 0.46) 35.94%, #23049D 100%);
}

.sign-in-group-posize {
    position: relative;
    min-height: 873px;
    flex-grow: 1;
    margin: 0px;
}

.sign-in-img {
    background: var(--src) center center / cover no-repeat;
}

.sign-in-img-posize {
    position: absolute;
    top: 0px;
    height: 448px;
    left: 0px;
    width: 448px;
    min-width: 448px;
    margin: 144px 850px 281px 142px;
}

.sign-in-img-posize1 {
    position: absolute;
    top: 0px;
    height: 498px;
    left: 0px;
    width: 456px;
    min-width: 456px;
    margin: 234px 955px 141px 29px;
}

.sign-in-coverGroup {
    display: flex;
    background-color: #fff;
}

.sign-in-coverGroup-posize {
    position: relative;
    height: 794px;
    flex-grow: 1;
    margin: 40px 91px 39px 715px;
}

.sign-in-flexbox {
    display: flex;
    flex-direction: column;
}

.sign-in-flexbox-posize {
    position: relative;
    width: 441px;
    min-width: 441px;
    margin: 79px 97px 167px;
}

.sign-in-flexbox-item {
    display: flex;
    flex: 0 0 auto;
    min-height: 186px;
}

.sign-in-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 53.3333333333px PT Serif, Helvetica, Arial, serif;
    color: #000;
    text-align: center;
    letter-spacing: -2.56;
}

.sign-in-txt-posize {
    position: relative;
    width: fit-content;
    margin: 0px auto 110px;
}

.sign-in-flexbox-item1 {
    display: flex;
    flex: 0 0 auto;
    min-height: 63px;
}

.sign-in-txt1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 20px PT Serif, Helvetica, Arial, serif;
    color: #000;
    text-align: center;
    letter-spacing: -0.96;
}

.sign-in-txt1-posize {
    position: relative;
    width: fit-content;
    margin: 0px 0px 35px 87px;
}

.sign-in-coverGroup1 {
    display: flex;
}

.sign-in-coverGroup1-posize {
    position: relative;
    min-height: 52px;
    margin: 0px 31px 27px 45px;
}

.sign-in-background {
    background-color: #fff;
    box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.25098039215686274);
    border: 1px solid #000;
    border-radius: 15px 15px 15px 15px;
}

.sign-in-background-posize {
    position: absolute;
    top: 0px;
    height: 52px;
    left: 0px;
    flex-grow: 1;
    right: 0px;
    margin: 0px;
}

.sign-in-foreground {
    display: flex;
}

.sign-in-foreground-posize {
    position: relative;
    flex-grow: 1;
    margin: 14px 252px 12px 22px;
}

.sign-in-icon {
    background: var(--src) center center / contain no-repeat;
}

.sign-in-icon-posize {
    position: relative;
    height: 26px;
    width: 26px;
    min-width: 26px;
    margin: 0px;
}

.sign-in-foreground-space {
    display: flex;
    flex: 0 0 auto;
    min-width: 12.16px;
}

.sign-in-foreground-item {
    display: flex;
    flex: 0 0 auto;
    border: none;
}

.sign-in-txt2 {
    display: flex;
    align-items: center;
    font: italic 14.4px PT sans, Helvetica, Arial, serif;
    color: #000;
    letter-spacing: 1.17;
}

.sign-in-txt2-posize {
    position: relative;
    width: fit-content;
    margin: 0px auto 4px;
}

.sign-in-coverGroup2 {
    display: flex;
}

.sign-in-coverGroup2-posize {
    position: relative;
    min-height: 52px;
    margin: 0px 31px 31px 45px;
}

.sign-in-foreground-posize1 {
    position: relative;
    flex-grow: 1;
    margin: 14px 229px 12px 20px;
}

.sign-in-foreground1-space {
    display: flex;
    flex: 0 0 auto;
    min-width: 14.16px;
}

.sign-in-foreground1-item {
    display: flex;
    flex: 0 0 auto;
    border: none
}

.sign-in-txt3 {
    display: flex;
    align-items: center;
    font: italic 14.4px PT sans, Helvetica, Arial, serif;
    color: #000;
    letter-spacing: 1.17;
}

.sign-in-txt3-posize {
    position: relative;
    width: fit-content;
    margin: 0px auto 4px;
}

.sign-in-flexbox-item2 {
    display: flex;
    flex: 0 1 50px;
}

.sign-in-flexbox1 {
    display: flex;
}

.sign-in-flexbox1-posize {
    position: relative;
    flex-grow: 1;
    margin: 0px 221px 24px 56px;
}

.sign-in-flexbox1-item {
    display: flex;
    flex: 0 1 24px;
}

.sign-in-rect {
    background-color: #fff;
    border: 1px solid #000;
}

.sign-in-rect-posize {
    position: relative;
    height: 21px;
    flex-grow: 1;
    margin: 5px 0px 0px;
}

.sign-in-flexbox1-space {
    display: flex;
    flex: 0 0 auto;
    min-width: 17px;
}

.sign-in-flexbox1-item1 {
    display: flex;
    flex: 0 0 auto;
}

.sign-in-txt4 {
    display: flex;
    align-items: center;
    font: 14.4px PT sans, Helvetica, Arial, serif;
    color: #000;
    letter-spacing: 1.71;
}

.sign-in-txt4-posize {
    position: relative;
    width: fit-content;
    margin: 0px auto 4px;
}

.sign-in-flexbox-item3 {
    display: flex;
    flex: 0 1 66px;
}

.sign-in-coverGroup3 {
    display: flex;
}

.sign-in-coverGroup3-posize {
    position: relative;
    min-height: 47px;
    flex-grow: 1;
    margin: 0px 118px 19px 131px;
}

.sign-in-background2 {
    background-color: #ffe06c;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25098039215686274);
    border: 2px solid #000;
    border-radius: 23.5px 23.5px 23.5px 23.5px;
}

.sign-in-background2-posize {
    position: absolute;
    top: 0px;
    height: 47px;
    left: 0px;
    flex-grow: 1;
    right: 0px;
    margin: 0px;
}

.sign-in-txt5-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-txt5-box-posize {
    position: relative;
    display: block;
    width: fit-content;
    margin: 8px auto 18px;
}

.sign-in-txt5 {
    overflow: visible;
    margin-top: 1px;
    margin-bottom: 1px;
    font: 15px PT Serif, Helvetica, Arial, serif;
    color: #000;
    text-align: center;
    letter-spacing: 0;
    white-space: pre-wrap;
}

.sign-in-flexbox-item4 {
    display: flex;
    flex: 0 0 auto;
    min-height: 21px;
}

.sign-in-txt6-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-txt6-box-posize {
    position: relative;
    width: fit-content;
    margin: 0px 0px 0px 90px;
}

.sign-in-txt6 {
    font: 15px PT Serif, Helvetica, Arial, serif;
    color: #000;
    text-align: center;
    letter-spacing: -0.72;
}

.sign-in-txt6-span0 {
    font: 0.8333333333em PT Serif, Helvetica, Arial, serif;
    color: #000 ff;
    letter-spacing: -0.72;
}

.sign-in-txt6-span1 {
    font: 0.8333333333em PT Serif, Helvetica, Arial, serif;
    color: #ff7ace ff;
    letter-spacing: -0.72;
}

.sign-in-txt6-span2 {
    font: 0.8333333333em PT Serif, Helvetica, Arial, serif;
    color: #000 ff;
    letter-spacing: -0.72;
}

.sign-in-txt6-span3 {
    font: 0.8333333333em PT Serif, Helvetica, Arial, serif;
    color: #ff7ace ff;
    letter-spacing: -0.72;
}

.sign-in-txt6-span4 {
    font: 0.8333333333em PT Serif, Helvetica, Arial, serif;
    color: #000 ff;
    letter-spacing: -0.72;
}